asgiref==3.2.10
autopep8==1.5.4
Django==3.1
django-filter==2.3.0
djangorestframework==3.11.1
et-xmlfile==1.0.1
gunicorn==20.0.4
jdcal==1.4.1
lml==0.0.9
Markdown==3.2.2
numpy==1.19.2
openpyxl==3.0.5
pandas==1.1.2
Pillow==7.2.0
pycodestyle==2.6.0
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
python-dateutil==2.8.1
python-pdf==0.37
pytz==2020.1
reportlab==3.2.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
whitenoise==5.2.0
