{% include 'navbar2.html'%}

{% block content %}
<style>
.container4{
   
    height:700px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 5px;
    overflow: hidden;


}
</style>
<div class="container4">
    <br><br><br>
<div class="row">
<div class= "col-6" style="background-color:cyan;color:darkblue">
   
    <br><br>

   
 <h1>   use credentials for admin :</h1>
    <br>
   <h3>      username: admin
          <br>
          password:admin1990</h3> 
          <br><br><br><br>
 </div>

   
    <div class= "col-6" style="background-color:brown;color:burlywood">
        <br><br>
 <h1>   use credentials for user :</h1>
    <br>
     <h3>   username: samuel
         <br>
         password: user1990</h3> 
         <br><br><br><br>
        </div>
</div>
</div>
{% endblock %}